.gradle/
build/
bin/
out/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.classpath
.project
.settings/
run/
logs/
*.log
.idea/
*.iws
*.iml
*.ipr
runData/
runServer/
runs/
.vscode/
server/
extracted_old/
extracted_cca/
extracted/
extracted_aerosoundfix/
_cbctmp/
cbcat_extract/
backup_*/
lib/
libs/
/dev/
/top/
/simulated_team/
defaultconfigs/
crash-reports/
ldlib2/
resourcepacks/
mods/
world/
config/
*.toml
.venv*/
.github/
.DS_Store
Thumbs.db
cbcat_extract/
